<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day10</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletDemo01</display-name>
    <servlet-name>ServletDemo01</servlet-name>
    <servlet-class>com.tedu.req.ServletDemo01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo01</servlet-name>
    <url-pattern>/ServletDemo01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletDemo02</display-name>
    <servlet-name>ServletDemo02</servlet-name>
    <servlet-class>com.tedu.req.ServletDemo02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo02</servlet-name>
    <url-pattern>/ServletDemo02</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>doollistServlet</display-name>
    <servlet-name>doollistServlet</servlet-name>
    <servlet-class>com.tedu.req.doollistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>doollistServlet</servlet-name>
    <url-pattern>/doollistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponsDemo01</display-name>
    <servlet-name>ResponsDemo01</servlet-name>
    <servlet-class>com.tedu.res.ResponsDemo01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponsDemo01</servlet-name>
    <url-pattern>/ResponsDemo01</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponsDemo02</display-name>
    <servlet-name>ResponsDemo02</servlet-name>
    <servlet-class>com.tedu.res.ResponsDemo02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponsDemo02</servlet-name>
    <url-pattern>/ResponsDemo02</url-pattern>
  </servlet-mapping>
</web-app>