<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day09</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>helloServlet</display-name>
    <servlet-name>helloServlet</servlet-name>
    <servlet-class>com.tedu.helloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>helloServlet</servlet-name>
    <url-pattern>/helloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TextServlet</display-name>
    <servlet-name>TextServlet</servlet-name>
    <servlet-class>com.tedu.TextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TextServlet</servlet-name>
    <url-pattern>/TextServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testServlet3</display-name>
    <servlet-name>testServlet3</servlet-name>
    <servlet-class>com.tedu.testServlet3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet3</servlet-name>
    <url-pattern>/testServlet3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDemo</display-name>
    <servlet-name>RequestDemo</servlet-name>
    <servlet-class>com.tedu.req.RequestDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDemo</servlet-name>
    <url-pattern>/RequestDemo</url-pattern>
  </servlet-mapping>
</web-app>